body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-color: rgb(21,32,43);
    color: white;
    display: flex;
    justify-content: center;
}
.menuContainer {
    border-right: none !important;
}
.backMenu {
    display: none !important;
}

.homeContainer {
    width: 40%;
    min-width: 500px;
}
#msgArea{
    background-color: rgb(21, 32, 43);
    border-radius: 7px;
    padding-top: 15px;
    width: 95%;
    margin-left: 5%;
    color: white;
    border: none;
    height: 150px;
    outline: none;
    resize: none;
}
::placeholder{
    color: 	gray;
    font-size: 15px;
}
.validMsgBtn{
    color: white;
    background-color: rgb(29, 161, 242);
    border: none;
    border-radius: 100px;
    padding: 5px 25px;
    font-weight: 500;
    outline: none !important;
}
.createNewTwertContainer {
    display: flex;
    width: 100%;
    padding: 5%;
    margin: 5vh 0 7px 0;
    box-shadow: 0px 0px 12px 1px rgb(9, 9, 10, .3);
    border: 1px solid rgba(29, 161, 242, .1);
    border-radius: 10px;
}
.createNewTwertInputContainer {
    width: 100%;
}
.createNewTwertInputContainer .twertActionContainer {
    float: right;
}
.profilImgContainer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.twertActionContainer {
    display: flex;
    align-items: center;
}
.twertActionContainer span {
    margin-right: 10px;
    font-size: 13px;
    opacity: .5;
}
.profilImgContainer img, .profilImgContainer a {
    width: 60px;
    height: 60px;
}

/* twerts */
.twertListContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}
.twertList {
    display: flex;
    flex-direction: column;
    align-items: center;
}